.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fixed-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1030;
  margin: 0 1.5rem 1.5rem 0;
  
}

.buttonrow{
  margin-top : 3%
}

.relative-right-bottom {
  position: relative;
  right: 0;
  bottom: 0;
  z-index: 1030;
  margin: 0 1.5rem 1.5rem 0;
  
}

.memehead{
  font-size: 150%;
  margin: 1rem
}
.icon-user{
  color : whitesmoke;
  opacity: 75%;
}
  

.filter-button{
  margin : 1%;
  width: 100%;
  text-align: left;
  border-radius: 2%; 
  box-shadow: none!important;
  outline: 0;
}

.filter-divider{
  margin: 0;
  visibility: hidden;
}

.important{
  color: red;
}

.login-credentials{
  padding-top: 5%;
}

.welcome-msg{
  padding: 2%;
  margin-top: 8%;

  background-color: whitesmoke;

}

.memerows{
  padding-top: 1rem;
}

.meme-image{
  display : block;
  margin-left: auto;
  margin-right: auto;
  
  
}

.font-Times{
  font-family: "Times New Roman", Times, serif;

}

.font-Helvetica{
  font-family: Arial, Helvetica, sans-serif;

}

.text-white{
  background-color: black;
  color : white;
}
.text-black{
  background-color: white;
  color : black;
}

.profile-image{
  border-radius: 50%;
  width : 50;
  height : 50;
  display : "block"
}

.invisible{
  visibility : hidden
}